<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <modules runAllManagedModulesForAllRequests="false" />
    
    <!-- Disable file logging to prevent HRESULT 0x2 on shared hosting -->
    <iisnode 
      devErrorsEnabled="true" 
      debuggingEnabled="false" 
      loggingEnabled="false" 
      watchedFiles="web.config;app.js;app.cjs;server\*.js"
    />

    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- 1. Route API requests to Node.js backend -->
        <rule name="NodeAPI" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="app.js" />
        </rule>

        <!-- 2. Route all SPA client routes to app.js (Express serves dist/index.html) -->
        <rule name="NodeSPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="app.js" />
      </files>
    </defaultDocument>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
